<div class="news">
    <p>
        <b>2026 HRI Pioneers</b>
        <span style="float:right;"><a>2026</a></span>
    </p>
    <p>
        <b>CRA Outstanding Undergraduate Researcher Finalist</b>
        <span style="float:right;"><a href="https://cra.org/about/awards/outstanding-undergraduate-researcher-award/#2022">2022</a></span>
    </p>
</div>
