<div class="news">
    <p>
        <b>CRA Outstanding Undergraduate Researcher Finalist</b> [<a href="https://www.cs.jhu.edu/news/cs-undergrad-named-finalist-for-2022-cra-outstanding-undergraduate-researcher-award/">news</a>]
        <span style="float:right;"><a href="https://cra.org/about/awards/outstanding-undergraduate-researcher-award/#2022">2022</a></span>
    </p>
</div>