<div class="news">
    <p>
        03.25 <b>I am co-organizing the [ERR@HRI 2.0 Challenge on Multimodal Detection of Errors and Failures in Human-Robot Conversations](https://sites.google.com/view/errhri20) at [ACM Multimedia 2025](https://acmmm2025.org/grand-challenge/) in Dublin, Ireland.</b>
    </p>
</div>
