<div class="news">
    <p>
        <span style="font-weight: bold; margin-right: 10px;">03.25</span>
        <span>
            I am co-organizing the 
            <a href="https://sites.google.com/view/errhri20" target="_blank">
                ERR@HRI 2.0 Challenge on Multimodal Detection of Errors and Failures in Human-Robot Conversations
            </a> 
            at 
            <a href="https://acmmm2025.org/grand-challenge/" target="_blank">
                ACM Multimedia 2025
            </a> 
            in Dublin, Ireland.
        </span>
    </p>
</div>
