<div class="news">
    <p>
        <b>Reviewer</b>: CSCW'25, CHI'25, HRI'25, HRI'24 (Outstanding Review), CSCW'24, CSCW'23
    </p>
    <p>
        <b>Student Volunteer</b>: CSCW'23, CHI'23, HRI'23, CSCW'22
    </p>
    <p>
        <b>Program Committee</b>: NeurIPS'22 Gaze Meet ML Workshop 
    </p>
    <p>
        <b>Member of JHU CS Department Student Council</b>
    </p>
    <p>
        <b>Mentor for Women Mentoring Whiting, student group aimed to support female undergraduate computer science students</b>
    </p>
    <p>
        <b>President of JHU chapter of Upsilon Pi Epsilon (International Honor Society for the Computing and Information Disciplines)</b>
    </p>
</div>
