<div class="news">
    <p>
        <b>Reviewer</b>: NeurIPS'22 Gaze Meet ML Workshop, CSCW'23
    </p>
    <p>
        <b>Student Volunteer</b>: CSCW'22, HRI'23, CHI'23
    </p>
    <p>
        <b>Member of JHU CS Department Student Council</b>
    </p>
    <p>
        <b>Mentor at Women Mentoring Whiting, student group aimed to support female undergraduate computer science students</b>
    </p>
    <p>
        <b>President of JHU chapter of Upsilon Pi Epsilon (International Honor Society for the Computing and Information Disciplines)</b>
    </p>
</div>
